body {
  margin: 0;
  font: bold 20px 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  margin: 0;
  font: bold 3em 'Indie Flower', cursive;
}
.wrapper {
  padding: 1rem;
  margin: 5rem auto;
  width: 500px;
  border: 1px solid #ccc;
}
.rm {
  background: red;
  border-radius: 50%;
  color: #fff;
  border: none;
}
.rm:hover {
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}
form {
  margin-bottom: 1rem;
}
